<a href="https://colab.research.google.com/github/gabrielcn/FIFAWorldCups/blob/main/world_cups_matches1930_2018.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto sobre a história das copas e 20 anos do pentacampeonato

## Instalação das Bibliotecas necessárias

In [ ]:
!pip install pandas
!pip install nympy
!pip install matplotlib
!pip install seaborn

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement nympy (from versions: none)
ERROR: No matching distribution found for nympy
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: seaborn in /usr/local/lib/python3.7/dist-packages (0.11.2)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.21.6)
Requirement already satisfied: scipy>=1.0 in /usr/local/lib/python3.7/dist-packages (from seaborn) (1.7.3)
Requirement already satisfied: matplotlib>=2.2 in /usr/local/lib/python3.7/dist-packages (from seaborn) (3.2.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=2.2->seaborn) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=2.2->seaborn) (1.15.0)

## Importação das Bibliotecas necessárias para análise

In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os

## Importação do arquivo de dados csv

In [ ]:
# Importação dos arquivos usados para análise
WorldCupMatches = pd.read_csv('WorldCupMatches1930_2018.csv', encoding='utf-8')

## Formato da base de dados (21 col, 11 linhas)

In [ ]:
# Dimensão da base de dados
print('Partidas das Copas do Mundo: ', WorldCupMatches.shape)

Partidas das Copas do Mundo:  (916, 10)

## Informações sobre o dataset

In [ ]:
WorldCupMatches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 916 entries, 0 to 915
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year             916 non-null    int64
 1   Datetime         916 non-null    object
 2   Stage            916 non-null    object
 3   Stadium          916 non-null    object
 4   City             916 non-null    object
 5   Home Team Name   916 non-null    object
 6   Home Team Goals  916 non-null    int64
 7   Away Team Goals  916 non-null    int64
 8   Away Team Name   916 non-null    object
 9   Attendance       914 non-null    float64
dtypes: float64(1), int64(3), object(6)
memory usage: 71.7+ KB

## Descrição básica

In [ ]:
WorldCupMatches.describe()

              Year  Home Team Goals  Away Team Goals     Attendance
count   916.000000       916.000000       916.000000     914.000000
mean   1987.388646         1.783843         1.036026   45319.308534
std      23.219966         1.596171         1.077242   22932.491797
min    1930.000000         0.000000         0.000000    2000.000000
25%    1970.000000         1.000000         0.000000   30600.000000
50%    1990.000000         1.000000         1.000000   42107.000000
75%    2006.000000         3.000000         2.000000   61192.250000
max    2018.000000        10.000000         7.000000  173850.000000

A base compreende a informação das partidas de vinte e uma edições de Copa do Mundo, entre 1930 e 2018 - aqui cabe-se ressaltar que as edições de 1942 e 1946 não ocorreram em virtude da Segunda Guerra Mundial.

As edições tiveram em média 1,7 gols marcados por time (casa) e 1,03 gols marcados por time (fora)

## Desenvolvimento

In [ ]:
WorldCupMatches

,Year,Datetime,Stage,Stadium,City,Home Team Name,Home Team Goals,Away Team Goals,Away Team Name,Attendance
0,1930,13 Jul 1930 - 15:00,Group 1,Pocitos,Montevideo,France,4,1,Mexico,4444.0
1,1930,13 Jul 1930 - 15:00,Group 4,Parque Central,Montevideo,USA,3,0,Belgium,18346.0
2,1930,14 Jul 1930 - 12:45,Group 2,Parque Central,Montevideo,Yugoslavia,2,1,Brazil,24059.0
3,1930,14 Jul 1930 - 14:50,Group 3,Pocitos,Montevideo,Romania,3,1,Peru,2549.0
4,1930,15 Jul 1930 - 16:00,Group 1,Parque Central,Montevideo,Argentina,1,0,France,23409.0
...,...,...,...,...,...,...,...,...,...,...
911,2018,07 Jul 2018 - 21:00,Quarter-finals,"Fisht Stadium,",Sochi,Russia,2,2,Croatia,44287.0
912,2018,10 Jul 2018 - 21:00,Semi-finals,"Saint Petersburg Stadium,",St. Petersburg,France,1,0,Belgium,64286.0
913,2018,11 Jul 2018 - 21:00,Semi-finals,"Luzhniki Stadium,",Moscow,Croatia,2,1,England,78011.0
914,2018,14 Jul 2018 - 17:00,Play-off for third place,"Saint Petersburg Stadium,",St. Petersburg,Belgium,2,0,England,64406.0
915,2018,15 Jul 2018 - 18:00,Final,"Luzhniki Stadium,",Moscow,France,4,2,Croatia,78011.0